
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
$header-color:rgba(255,255,255,0.72);
$nav-txt-color:#303030;
$nav-button-bg:rgba(232,239,254,0.6);
$nav-button-txt:#28457b;

*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:$header-color;
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
    transition: all .3s ease;
   
    .logo{
        margin: 11px 28px;
        img{
            height: 68px;
            width: 120px;
        }
    }
    nav{

        .nav-list{
            display: none;
            @media (min-width: 768px) {
                display: inline;
                display: flex;
                list-style: none;
            }
            li{
                font-size: 14px;
                margin: 0 15px ;
                a{
                    text-decoration: none;
                    cursor: pointer;
                    color: $nav-txt-color;
                    font-size: 1rem;
                    transition: all .3s;
                }
                &:hover{
                    text-shadow: 2px 2px 6px rgba(11, 20, 123, 0.796);
                }
            }
            .last-child{
                a{
                   color: $nav-button-txt;
                   background-color: $nav-button-bg;
                   border-radius: 1rem;
                   padding: 10px 27px;
                   font-weight: 600;
                   margin-right: 1rem; 
                   transition: all .3s;
                   &:hover{
                    background: linear-gradient(180deg,#21254e,#2b4e83);
                       color: #fff;
                   }
                   @media (max-width: 990px) {
                    display: none;
                    }
                }
                
            }
            .more-menu{
                display: flex;
                img{
                    width: 8px;
                    margin-left:8px ;
                }
            }
           
        }
    }
    .hamburger-icon{
        margin: 0 1rem;
        @media (min-width:768px) {
            display: none;
        }
    }
    .toggle-menu{
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(201, 213, 223, 0.9);
        z-index: 1;
        width: 50%;
        text-align: right;
        transform: translateY(-100% );
        .cross-icon{
            width: 90%;
            padding:2rem 0;
            margin: auto;
            img{
                width: 20px;
                margin-left: 2rem;
            }
        }
        .toggle-menu-list{
            padding: 10px 30px;
           
            ul{
                list-style: none;  
                a{
                    text-decoration: none;
                    display: inline-block;
                    color: #001a4f;
                    padding: .5rem 0;
                }
                
                div{
                    background-color: #005ea0;
                    height: 2px;
                    margin: 8px 0;
                }
            }
        }
        .myPay-button{
            display: flex;
            background-color: #eee;
            padding: 1rem 3.1rem;
            align-items: center;
            justify-content: space-between;
            a{
                text-decoration: none;
                color: $nav-button-txt;
                font-size: 1rem;
                font-weight: 600;
                text-align: right;
                color: $nav-button-txt;
            }
        }
    }
}

// ***************toggle menu transformation
@keyframes fadeInDown {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.show-toggle-menu{
    animation: fadeInDown 0.35s forwards;
} 
// ***************nav menu transformation
@keyframes showUp  {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#show-more-menu{
    position: relative;
    
    ul{
        background-color: rgba(235, 235, 235,0.8);
        position: absolute;
        top: 1px;
        left: -45px;
        border-top: 5px solid $nav-button-txt;
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 20px;
        margin-top: 23px;
        list-style: none;
        width: 150px;
        display: none;
        

        li{
            margin: 0;
            padding: 10px 20px;
            a{
                color: #303030; 
                font-size: .8rem;
                font-weight: 400;
                background-color:transparent;
                
                
                &:hover{
                    background-color: $nav-button-bg;
                    padding: .2rem .5rem;
                    border-radius: 10px;
                }
            }
        }

    }
    
}
#show-product-menu{
    position: relative;
    .product-list{
        position: absolute;
        top: 22px;
        left: -105px;
        display: flex;
        justify-content: flex-start;
        background-color: rgba(235, 235, 235,0.8);
        border-top: 5px solid $nav-button-txt;
        border-radius: 10px;
        width: 373px;

        display: none;
        ul{
            padding-top: 10px;
            padding-bottom: 20px;
            margin-top: 23px;
            list-style: none;
            li{
                margin: 0;
                padding: 10px 20px;
                font-size: .8rem;
                a{
                    color: #303030; 
                    background-color:transparent;
                    font-size: .8rem;
                    font-weight: 400;
                    
                    &:hover{
                        background-color: $nav-button-bg;
                        padding: .2rem .5rem;
                        border-radius: 10px;
                    }
                }
            }
        }
    }

}
main{
    .banner{
        background: linear-gradient(135deg,#21254e,#2b4e83);
        border-radius:0 0 20px 20px;
        padding: 2rem;
        @media (min-width:768px) {
            display: flex;
            justify-content: space-between;
            max-width:1050px;
            margin:auto;
            border-radius: 20px;
        }
        .banner-txt{
            color: #fff;
            margin-bottom: 3rem;
            text-align: center;
            @media (min-width:768px) {
                margin-bottom: 0;
                margin-right: 2rem;
                text-align: left;
            }
            h1{
                font-size: 1.5rem;
                margin: 2rem 0;
            }
            p{
                font-size: 1rem;
                margin: 1.2rem 0;
                line-height: 2.5rem;
                margin-bottom: 2rem;
            }
            .login-container{
                a{
                    font-size: 1rem;
                    text-decoration: none;
                    padding: .5rem 1rem;
                    border-radius: 7px;
                    transition: all .4s;
                    display: inline-block;
                    border: none;
                    &.registerBtn{
                        color: #000;
                        background-color: #ffd900;
                        margin-right: 1rem;
                        &:hover{
                            border:  3px inset #ffd900;
                             color: #ffd900;
                             background-color: transparent;
                        }
                    }
                    &.loginBtn{
                        border:  3px solid #ffd900;
                        color: #ffd900;
                        &:hover{
                            color: #000;
                            background-color: #f1db5a;
                        }
                    }
                }
            }
        }
        .banner-img{
            display: none;

            img{
                width:  100%;
                border-radius: 10px;
                opacity: .4;
            }
            @media (min-width:768px) {
              width: 480px;
              margin: auto;
              display: block;
              max-width: 600px;
              margin:2rem auto;
            }
        }
    }
    .go-down-btn{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 39px;
        div{
            background-image: url(../images/arrowbottom.svg);
            width: 164px;
            height: 78px;
        }
        img{
            width: 1.5rem;
            position: relative;
            top: -62px;
        }
    }

    .main-container{
        text-align: center;
        margin-bottom: 4rem;
        padding: .5rem;
        @media (min-width:768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width:1280px;
            margin:auto;
            text-align: left;
            padding: 1rem;
        }
        .img-section{
            img{
                width: 100%;
            }
            @media (min-width:768px) {
                margin: auto;
                max-width: 540px;
                margin-right: 1rem;
            }
        }
        .txt-section{
            padding: 1rem;
            h2{
                font-size: 2rem;
                padding-bottom: 1rem;
            }
            p{
                font-size: 1.5rem;
                line-height: 2.5rem;
                margin-bottom: 5rem;
                color: #5a5959;
            }
            
            .line{
                display: none;
                @media (min-width:768px) {
                    display: block;
                    background-color: #dfe1e4;
                    height: 2px;
                    margin-bottom: 2rem;
                }
            }
            .links-section{
                a{
                    transition: all .4s;
                    color: #fff;
                    background: linear-gradient(135deg,#21254e,#1565dd);
                    padding: 1rem 1.5rem;
                    font-size: 1rem;
                    text-decoration: none;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &:hover{
                        opacity: .5;
                        transform: scale(1.05);
                    }
                    img{
                        width: 32px;
                        height: 32px;
                        transform: rotate(180deg);
                        fill: #eee;
                    }
                }
            }
        }
        &.second-container{
            @media (min-width:768px) {
                display: flex;
                flex-direction: row-reverse;
            }
    
        }
    }
}
.article-container{
    margin-top: 2rem;
    .header{
        background: linear-gradient(90deg, rgba(33,37,78,1) 2%, rgba(43,78,131,1) 36%, rgba(0,212,255,1) 100%);
        color: #eee;
        padding: 4rem 2rem;
        height: 720px;
        h3{
            max-width: 968px;
            margin: auto;
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }
        p{
            font-size: 1.5rem;
            max-width: 968px;
            margin: auto;
        }
    }
    .articles{
        background-color:rgba(204, 233, 249, 0.43);
        border-radius: 0px 290px 0 0;
        box-shadow: 13px 13px 40px #6e7384, -3px -3px 20px #e6f9ff;
        padding: 10rem 1rem;
        position: relative;
        top: -283px;
        @media (min-width:768px) {
            max-width:1280px;
            margin:auto;
            
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
        }
        article{
            max-width: 380px;
            height: 300px;
            margin: auto;
            box-shadow: 13px 13px 40px #6e7384, -3px -3px 20px #fff;
            border-radius: 0 48px 0 0;
            margin-top: 4rem;
            background-color: #fff;
            padding: 2.5rem .7rem;
            .title{
                display: flex;
                align-items:center;
                justify-content: center;  
                margin: 1rem 0;
                h4{
                    font-size: 1.25rem;
                    color: #303030;
                }
                img{
                    width: 64px;
                    height: 64px;
                    margin-right: .5rem;
                }
            }
            p{
                text-align: center;
                color: #5a5959;
                font-size: 1.2rem;
                text-align: center;
            }
            &.fourth-article{
                text-align: justify;
              
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
footer{
    border-top: 5px solid #23274c52;
    h3{
        font-size: 1rem;
        color: #0d114ec2;
        margin-bottom: 2rem;
    }
    
    @media (min-width:768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
    }
    .service-lists{
        @media (max-width:767px) {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            width: calc(100%-330px);
            margin: auto;
            padding: 0 10px;
        
        }
        @media (min-width:768px) {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            width: calc(100%-120px);
            padding: 0 10px;
        
        }
        .list{
            border-bottom: 2px solid #6d748924;
            padding: 1rem;
            ul{
                list-style: none;
                li{
                    font-size: 1rem;
                    color: #7786b1;
                    padding: 8px 0;
                }
            }
            @media (min-width:768px) {
            border-bottom: none;
            }
        }

    }
    .social-media{
       margin: 1rem 0;
       text-align: center;
        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            a{
                background-color: #eff4fe;
                width: 45px;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                margin-left: 15px;
            }
        }
        @media (min-width:768px) {
            width: 330px;
            padding: 0 30px;
            
        
        }
    }
}
.bell{
    background-color: #06aafb;
    box-shadow: 2px 2px 8px #21254e, -2px -2px 8px #e0f9fd;
    width: fit-content;
    padding: 7px 10px;
    border-radius: 50%;
    position: fixed;
    left: 1.2rem;
    bottom: 1.2rem;
    img{
        width: 42px;
    }

}